body
{
font-family: 'Raleway', sans-serif;
font-weight: 400;
background: #fff;
}

.span4 p
{
text-align: justify;
text-justify: newspaper;
letter-spacing: 3px;
margin-left: -60px;
line-height: 28px;
font-size: 20px;
text-shadow: 0 1px 0 #ccc,
}

#dia
{
margin-top: -115px;
margin-left: -70px;
}


.hero-unit
{
    background: url(../img/black.png);
	height: 80px;
}



.get 
{
display:none;
}


.alink
{
	text-decoration: none;
	color:#000;
	text-shadow: 1px 1px 1px #ccc;
    font-size: 3.5em;
    padding:3px;
}
.alink:hover
{
	text-decoration: none;
	color:#2A97B5;
}

.alink1
{
	text-decoration: none;
	color:#000;
	text-shadow: 1px 1px 1px #ccc;
    font-size: 8em;
    padding:5px;
    letter-spacing: 5px;
}
.alink1:hover
{
	text-decoration: none;
	color:#2A97B5;
}
.tag:hover
{
	color:#000;
	cursor:default;
}

.test:hover
{
	color:#2A97B5;
	cursor:default;
}


.grow img 
{
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
          margin-left:-20px;
}

 
.blog
{
width:80%;
margin-left: 10%;
text-align: center;
}
.blog p
{
text-align: justify;
text-justify: newspaper;
font-size: 25px;
font-family: 'Lato', sans-serif;
line-height: 32px;
}

.span6 p,.span8 p
{
text-align: justify;
text-justify: newspaper;
letter-spacing: 1px;
line-height: 25px;
font-size: 15px;
text-shadow: 0 1px 0 #ccc,
}
.span6 h2,.span8 h2
{
	color:#2A97B5;
}


#content-2010, #content-2011, #content-2012, #content-2013, #content-2014
{
display: none
}

#bodyleft h4
{
    text-align: justify;
	text-justify: newspaper;
	line-height: 25px;
}

#bodyleft li 
{
height: 30px;
}

#bodyright
{
	margin-left: 110px;
}