
body {
	background: #f4f4f4 url(../img/grid_DominikKiss_SubtlePatterns.jpg);
	
}



@media screen and (max-width: 730px){
	.fleft {
		width: 100%;
		float: none;
		text-align: center;
	}
} 